Flask
bs4
pypdf
groq
PyPDF2
ollama
faiss-cpu
psycopg2
streamlit
python-dotenv
langchainhub
langchain-core
langchain-objectbox
sentence_transformers
langchain-community-vectorstores
langchain-community-embeddings
langchain-community-llms
langchain-text-splitters
langchain-community-document-loaders